html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.input-container {
  margin-bottom: 10px;
}

p {
  margin: 0;
  margin-bottom: 0.25rem;
  color: red;
  font-size: 0.6rem;
}
